---
title: Kumonos
---

.col-xs-12
  %h2= icon('star', 'Services')
  #services.row
    .service.col-xs-12.clearfix
      %p.image= image_tag 'http://nabettu.github.io/mypedia/img/ogp.jpg', width: 200, height: 150
      %h3= link_to('Mypedia', 'http://nabettu.github.io/mypedia')
      %p Wikipedia風の自己紹介ページが作れます
    .service.col-xs-12.clearfix
      %p.image= image_tag 'service/add_this_page_to_trello_form.png', width: 200, height: 150
      %h3= link_to('Add this page to Trello', 'https://chrome.google.com/webstore/detail/add-this-page-to-trello/fjfljghieliggacelkamhfiiejncmjmi/')
      %p 今開いているページをTrelloのタスクとして簡単に追加できるChrome Extension
    .service.col-xs-12.clearfix
      %p.image= image_tag 'service/pocketporter.png', width: 200, height: 150
      %h3= link_to('Pocket Porter', 'http://pocketporter.kumonos.jp')
      %p どんどん溜まっていく「あとで読む」サービスPocketの未読記事を、毎日メールでお届けします
    .service.col-xs-12.clearfix
      %p.image= image_tag 'service/whoswho.png', width: 200, height: 150
      %h3= link_to('Who\'s who', 'http://kumonos.jp/facebook_search/')
      %p Facebookを使っていて、「会社名思い出せるけど、名前が出てこない」そんなあなたのためのFacebook友達検索アプリです
    .service.col-xs-12.clearfix
      %p.image= image_tag 'service/mote.png', width: 200, height: 150
      %h3= link_to('モテ筋力メーター', 'https://play.google.com/store/apps/details?id=com.tomo.drawgraph&hl=ja')
      %p あなたの筋肉の強さ、瞬発力からモテ筋力を計測するアプリです
    .service.col-xs-12.clearfix
      %p.image= image_tag 'service/footsal.png', width: 200, height: 150
      %h3= link_to('フットサル運動ノート', 'http://futsal.undonote.com/')
      %p フットサルをより楽しむためのフットサル情報サイトです
    .service.col-xs-12.clearfix
      %p.image= image_tag 'service/friendspop.png', width: 200, height: 150
      %h3= link_to('Friends Pop', 'http://friends-pop.kumonos.jp/?utm_source=kumonos&utm_medium=kumonos&utm_content=services')
      %p あなたの周りの「カワイイ女子」「イケメン男子」が見つかるWebサービスです
    .service.col-xs-12.clearfix
      %p.image= image_tag 'service/bus.png', width: 200, height: 150
      %h3= link_to('都バス時刻表アプリ', 'https://itunes.apple.com/jp/app/doubasu-shi-ke-biao/id888189690?mt=8')
      %p そのバス停の時刻表をチェックできるアプリです
.col-xs-12
  %h2= icon('youtube-play', 'Movies')
  #movies
    %h3= 'ボケてのハロCOO/オモロキCSOイセオサム氏が語る<br />21世紀の働きかた！'
    %iframe{ width: '560', height: '315', src: 'https://www.youtube.com/embed/xtScUYUz_Q4', frameborder: '0' }
    %h3= 'マネーフォワード技術顧問の堀内康弘氏が語る<br />エンジニアとしてのマインドとキャリア'
    %iframe{ width: '560', height: '315', src: 'https://www.youtube.com/embed/RPuqD9ci6cQ', frameborder: '0' }
.col-xs-12
  %a.title-link{href: 'http://kumonos.jp/blog', target: '_blank'}
    %h2= icon('rss', 'Blog')
  #blog
.col-xs-12
  %h2= icon('bullhorn', 'Media')
  #media
    %p メンバーのメディア掲載履歴
    %ul
      %li
        2015.3.4<br />
        %a{href: 'http://thebridge.jp/2015/03/open-logi-raised-60m-yen-from-ivp-and-kotaro-chiba', target: '_blank'}
          物流アウトソーシングのオープンロジがIVPとコロプラ千葉功太郎氏から資金調達、須田仁之氏が監査役に
      %li
        2015.2.23<br />
        %a{href: 'http://doda.jp/engineer/it/guide/001/23a.html', target: '_blank'}
          大手企業から転職、外部APIサービスのOSSコードに貢献できたのは得がたい体験 株式会社メルカリ 今井智章 氏
      %li
        2015.2.14<br />
        %a{href: 'http://thebridge.jp/2015/02/takanori-oshiba-interview-series-vol-17', target: '_blank'}
          「若い人の支援でも結果を出していきたい」ーー隠れたキーマンを調べるお・須田（SUDAX）氏インタビュー
      %li
        2015.2.4<br />
        %a{href: 'http://thebridge.jp/2015/02/the-story-of-tsukulink', target: '_blank'}
          とび職と学生、開発者の3人はツイッターで出会い、起業してツクリンクを立ち上げた
      %li
        2015.1.26<br />
        %a{href: 'http://jp.techcrunch.com/2015/01/26/20150126masaka/', target: '_blank'}
          ViRATES運営のまさか、ANRIから3500万円を調達して動画制作に注力
.col-xs-12
  %h2= icon('users', 'Members')
  #members
    .member.clearfix
      %p.image= image_tag 'https://graph.facebook.com/sudax0721/picture?return_ssl_resources=1&width=80&height=80', width: 80, height: 80
      %p.intro 40歳。プロデューサー、コンセプター。ITベンチャー業界の住人。20代はSバンクグループにてSon社長と仕事をする→YahooBBの立ち上げや放送子会社の株式上場に貢献。30代はオンラインゲームA社でCFOとしてIPO。W大学インキュベーションセンターアドバイザー
      %ul.icons
        %li= link_to(image_tag('sns/facebook.png', width: 20, height: 20), 'https://www.facebook.com/sudax0721')
        %li= link_to(image_tag('sns/feed.png', width: 20, height: 20), 'http://sket.asia/magazine/category/sudax/')
    .member.clearfix
      %p.image= image_tag 'https://graph.facebook.com/muratayusuke/picture?return_ssl_resources=1&width=80&height=80', width: 80, height: 80
      %p.intro 28歳。時価総額1.5兆を越える日本最大のEC事業者R天社のエンジニアを経て、CTOとしてグルメ系ベンチャー企業を立ち上げる。K都大卒
      %p.entry
        = icon('rss-square')
        = link_to('楽天株式会社を退職していました | 村田佑介.com', 'http://www.muratayusuke.com/2014/09/21/%E6%A5%BD%E5%A4%A9%E6%A0%AA%E5%BC%8F%E4%BC%9A%E7%A4%BE%E3%82%92%E9%80%80%E8%81%B7%E3%81%97%E3%81%A6%E3%81%84%E3%81%BE%E3%81%97%E3%81%9F/')
      %ul.icons
        %li= link_to(image_tag('sns/twitter.png', width: 20, height: 20), 'https://twitter.com/muratayusuke')
        %li= link_to(image_tag('sns/github_alt.png', width: 20, height: 20), 'https://github.com/muratayusuke')
        %li= link_to(image_tag('sns/facebook.png', width: 20, height: 20), 'https://www.facebook.com/muratayusuke')
        %li= link_to(image_tag('sns/feed.png', width: 20, height: 20), 'http://www.muratayusuke.com')
    .member.clearfix
      %p.image= image_tag 'https://graph.facebook.com/ryotaro.akimoto/picture?return_ssl_resources=1&width=80&height=80', width: 80, height: 80
      %p.intro 27歳。急成長ITベンチャーにて激務に耐えながら、個人でフットサル情報サイトをローンチ。いつか世界中の人が使用するサービスを作るのが夢。
      %ul.icons
        %li= link_to(image_tag('sns/facebook.png', width: 20, height: 20), 'https://www.facebook.com/ryotaro.akimoto')
    .member.clearfix
      %p.image= image_tag 'https://graph.facebook.com/nabettu/picture?return_ssl_resources=1&width=80&height=80', width: 80, height: 80
      %p.intro 25歳。日本最大のITメーカーF社を経て面白法人へ。ものづくりの楽しさをすべての人に。
      %p.entry
        = icon('rss-square')
        = link_to('富士通株式会社を退職しました | つくログ', 'http://t-tu.com/blog/2015/06/09/retirement_of_fujitsu/')
      %ul.icons
        %li= link_to(image_tag('sns/twitter.png', width: 20, height: 20), 'https://twitter.com/nabettu')
        %li= link_to(image_tag('sns/facebook.png', width: 20, height: 20), 'https://www.facebook.com/nabettu')
        %li= link_to(image_tag('sns/feed.png', width: 20, height: 20), 'http://t-tu.com/blog/')
    .member.clearfix
      %p.image= image_tag 'http://www.gravatar.com/avatar/6a90bd29df59782ff4ba039aa7cc3f8a?s=160', width: 80, height: 80
      %p.intro 27歳。世界最大級の外資系IT企業I社、日本最大級の医療系IT企業M社を経て、現在はフリーのエンジニア。得意な言語はRubyと関西弁。
      %p.entry
        = icon('rss-square')
        = link_to('田舎の実家で療養生活を送ります | Monolog', 'https://youcune.com/mono/info/moving-to-hyogo.html')
      %ul.icons
        %li= link_to(image_tag('sns/yo.png', width: 20, height: 20), 'http://justyo.co/YOUCUNE')
        %li= link_to(image_tag('sns/twitter.png', width: 20, height: 20), 'https://twitter.com/youcune')
        %li= link_to(image_tag('sns/github_alt.png', width: 20, height: 20), 'https://github.com/youcune')
        %li= link_to(image_tag('sns/facebook.png', width: 20, height: 20), 'https://www.facebook.com/youcune')
        %li= link_to(image_tag('sns/feed.png', width: 20, height: 20), 'http://youcune.com/mono/')
    .member.clearfix
      %p.image= image_tag 'https://graph.facebook.com/tomoaki.imai2/picture?return_ssl_resources=1&width=80&height=80', width: 80, height: 80
      %p.intro 30歳。世界最大級の外資系IT企業I社にてDB系SEを経て、現在は日本最大級のCtoCスマートフォンアプリ「Mカリ」のAndroidエンジニア。
      %p.entry
        = icon('rss-square')
        = link_to('ベンチャーに転職して半年が過ぎました - tomoima525&#39;s blog', 'http://tomoima525.hatenablog.com/entry/2014/09/23/004213')
      %ul.icons
        %li= link_to(image_tag('sns/twitter.png', width: 20, height: 20), 'https://twitter.com/tomoaki_imai')
        %li= link_to(image_tag('sns/github_alt.png', width: 20, height: 20), 'https://github.com/tomoima525')
        %li= link_to(image_tag('sns/facebook.png', width: 20, height: 20), 'https://www.facebook.com/tomoaki.imai2')
        %li= link_to(image_tag('sns/feed.png', width: 20, height: 20), 'http://tomoima525.hatenablog.com/')
    .member.clearfix
      %p.image= image_tag 'https://graph.facebook.com/shanonim/picture?return_ssl_resources=1&width=80&height=80', width: 80, height: 80
      %p.intro 23歳。日本最大のITメーカーF社にて金融系SEを経て、音楽ベンチャーMLab.に。カレー１０人分を食す胃袋の持ち主。
      %ul.icons
        %li= link_to(image_tag('sns/facebook.png', width: 20, height: 20), 'https://www.facebook.com/shanonim')
    .member.clearfix
      %p.image= image_tag 'http://placehold.it/80x80', width: 80, height: 80
      %p.intro 27歳。日本最大のITメーカーF社の現役ハードウェアエンジニア。専門は構造シミュレーション。可愛い女の子が大好き。
    .member.clearfix
      %p.image= image_tag 'http://placehold.it/80x80', width: 80, height: 80
      %p.intro 28歳。201x年上場し時価総額500億越えを果たしたビックデータ系企業のエンジニア。T京大工学系院卒。
    .member.clearfix.wanted
      %p Kumonos では、一緒にクリエイティブを発揮しものづくりができる仲間を募集しております。少しでも興味があればぜひお気軽にお問い合わせください。
      %p.text-center= link_to(icon('envelope', '問い合わせる'), 'mailto:info@kumonos.jp', class: 'btn btn-info')
